a:link {color: inherit;}      /* unvisited link */
a:visited {color: inherit;}   /* visited link */
a:hover {color: inherit;}     /* mouse over link */
a:active {color: inherit;}    /* selected link */

html {
	font-family : "Verdana";
}

#board {
	font-size : 1.5em;
}

button, input, span#first {
	font-size : 1.3em;	
}

#board {
	position : absolute;
	bottom : 5px;
	left : 2%;
	right : 1%;
	top : 48px;
}

#board div.row {
	height : 20%;
}

.word {
	position : relative;
	text-align : center;
	vertical-align : middle;
	cursor : pointer;
	border-radius : 5px;
	width : 19%;
	height : 99%;
	display : inline-block;
	line-height : 99%;
	border : 6px dotted #DDD;
	box-sizing: border-box;
}
.team-red  { color: #c00; }
.team-blue { color: #099; }
.word.red    { background-color: #f33; font-weight: bold  ; color: black; border: 6px solid #c00; }
.word.yellow { background-color: #ff0; font-style : italic; color: black; border: 6px dashed #880; }
.word.blue   { background-color: #3ee; font-weight: bold  ; color: black; border: 6px solid #00c; }
.word.green  { background-color: #090; font-weight: bold  ; color: black; border: 6px inset #0c0; }
.word.black  { background-color: #000; font-weight: bold  ; color: white; border: 6px solid #DDD; }

#board div.word div {

	/* Internet Explorer 10 */
	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;

	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;

	/* Safari, Opera, and Chrome */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;

	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;

	height : 100%;

}


#spymaster {
	float : right;
	margin-left: 10px;
}

#confirm {
	float : right;
}

#movie {
	float : right;
}
#movieCheck {
	float : right;	
}

#confirmText {
	float : right;	
}
#google_translate_element {
	float: right;
}
#about_link {
    float: right; font-size: 80%; margin-right: 1em;
}
#header{
	/*background-color: grey;*/
}
.ada {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
 
}
